/* ListComponent base styles */
.list-component-list {
    overflow: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-component-empty {
    padding: 12px;
    color: var(--color-text-secondary);
    font-style: italic;
    text-align: center;
}

/* List item styling */
.list-component-item {
    gap: 12px;
    padding: 12px;
    border-radius: 8px;
    background: var(--color-card-background);
    /* border: 1px solid var(--color-border-light); */
    box-shadow: var(--shadow-card-light);
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.09s ease, box-shadow 0.12s ease;
}

.list-component-item:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow-card-hover);
}

.list-component-item.selected {
    border: 1px solid var(--color-highlight);
    /* background: var(--color-highlight); */
    box-shadow: var(--shadow-card-hover);
}