

.option-buttons-component {
  display: flex;
  gap: 8px;
  height: 100%;
}
.option-buttons-component .option-btn {
  padding: 6px 18px;
  border-radius: 6px;
  border: 1px solid var(--color-border-light);
  background: var(--color-background-main);
  color: var(--color-text-dark);
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, border 0.2s;
}
.option-buttons-component .option-btn.selected {
  background: var(--color-primary-accent);
  color: var(--color-text-light);
  border-color: var(--color-primary-accent);
  font-weight: 300;
}
.option-buttons-component .option-btn:not(.selected):hover {
  background: var(--color-primary-accent-hover);
}
