:root {
    --color-rate-bucket-1: #ff4d4d;
    --color-rate-bucket-2: #ff764d;
    --color-rate-bucket-3: #ff9f4d;
    --color-rate-bucket-4: #ffc94d;
    --color-rate-bucket-5: #ffe04d;
    --color-rate-bucket-6: #e0f24d;
    --color-rate-bucket-7: #b8f24d;
    --color-rate-bucket-8: #8bf24d;
    --color-rate-bucket-9: #4df276;
    --color-rate-bucket-10: #2ecc71;
}

.rate-wrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
}

.rate-progress-bar {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.rate-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    color: #333;
    pointer-events: none;
    white-space: nowrap;
}

.rate-progress-bar::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 10px;
}

/* 10 Bucket Styles */
.rate-bucket-1::-webkit-progress-value { background-color: var(--color-rate-bucket-1); }
.rate-bucket-1::-moz-progress-bar     { background-color: var(--color-rate-bucket-1); }

.rate-bucket-2::-webkit-progress-value { background-color: var(--color-rate-bucket-2); }
.rate-bucket-2::-moz-progress-bar     { background-color: var(--color-rate-bucket-2); }

.rate-bucket-3::-webkit-progress-value { background-color: var(--color-rate-bucket-3); }
.rate-bucket-3::-moz-progress-bar     { background-color: var(--color-rate-bucket-3); }

.rate-bucket-4::-webkit-progress-value { background-color: var(--color-rate-bucket-4); }
.rate-bucket-4::-moz-progress-bar     { background-color: var(--color-rate-bucket-4); }

.rate-bucket-5::-webkit-progress-value { background-color: var(--color-rate-bucket-5); }
.rate-bucket-5::-moz-progress-bar     { background-color: var(--color-rate-bucket-5); }

.rate-bucket-6::-webkit-progress-value { background-color: var(--color-rate-bucket-6); }
.rate-bucket-6::-moz-progress-bar     { background-color: var(--color-rate-bucket-6); }

.rate-bucket-7::-webkit-progress-value { background-color: var(--color-rate-bucket-7); }
.rate-bucket-7::-moz-progress-bar     { background-color: var(--color-rate-bucket-7); }

.rate-bucket-8::-webkit-progress-value { background-color: var(--color-rate-bucket-8); }
.rate-bucket-8::-moz-progress-bar     { background-color: var(--color-rate-bucket-8); }

.rate-bucket-9::-webkit-progress-value { background-color: var(--color-rate-bucket-9); }
.rate-bucket-9::-moz-progress-bar     { background-color: var(--color-rate-bucket-9); }

.rate-bucket-10::-webkit-progress-value { background-color: var(--color-rate-bucket-10); }
.rate-bucket-10::-moz-progress-bar     { background-color: var(--color-rate-bucket-10); }