.framework-select-component {
  padding: 6.5px 8px;
  border-radius: 4px;
  border: 1px solid var(--color-border-light);
  background-color: var(--color-background);
  color: var(--color-text-dark);
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s ease;
}

.framework-select-component:focus {
  border-color: var(--color-primary);
}

.framework-select-component:disabled {
  background: var(--color-disabled);
  color: var(--color-text-secondary);
  cursor: not-allowed;
}
