/* Spinner flex centering utility */
.spinner-center-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 100%;
    height: 100%;
}

/* Text position modifiers */
.spinner-text-top {
    flex-direction: column-reverse;
}

.spinner-text-bottom {
    flex-direction: column;
}

.spinner-text-left {
    flex-direction: row-reverse;
    gap: 12px;
    width: fit-content;
    margin: 0 auto;
}

.spinner-text-right {
    flex-direction: row;
    gap: 12px;
    width: fit-content;
    margin: 0 auto;
}

/* Spinner loading text styling */
.spinner-loading-text {
    color: var(--color-text-dark);
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}

.spinner {
    border: 4px solid var(--color-secondary-accent);
    border-top: 4px solid var(--color-highlight);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    box-sizing: border-box;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}