/* Spinner flex centering utility */
.spinner-center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  width: 100%;
}

/* Spinner loading text styling */
.spinner-loading-text {
  color: var(--color-text-dark);
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}

.loading-spinner {
    text-align: center;
    color: var(--color-text-light);
    /* height: 100%; */
}

.spinner {
    border: 4px solid var(--color-secondary-accent);
    border-top: 4px solid var(--color-highlight);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto 12px auto;
    box-sizing: border-box;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
