:root {
    --color-state-running: #3498db; /* Blue */
    --color-state-completed: #2ecc71; /* Green */
    --color-state-pending: #f1c40f; /* Yellow */
    --color-state-queued: #94a3b8; /* Slate */
    --color-state-failed: #ff0000; /* Red */
}

/************************************************************************/
/* Starting base styles for Conversations Tool                          */
/************************************************************************/
.conversations-message-loading,
.conversations-message-empty,
.conversations-message-error {
    margin: 32px 0 0 0;
    color: var(--color-secondary-accent);
    font-size: 16px;
    text-align: left;
    padding-left: 18px;
}

.conversations-message-error {
    color: var(--color-warning-error);
}

.conversations-error {
    color: var(--color-warning-error);
}

.conversations-buttons-container {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    /* margin-bottom: 16px; */
}

.conversations-tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.conversation-container-horizontal {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.conversation-container-horizontal-space-between {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.conversation-container-vertical {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    gap: 16px;
}

.conversation-container-vertical-wrap {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* overflow: auto; */
    flex-wrap: wrap;
    gap: 16px;
}

.conversation-field-container-vertical {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.conversation-field-container-vertical-full {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    flex: 1;
}

.conversations-field-value {
    font-size: 16px;
    color: var(--color-text-dark);
    word-break: break-word;
}

.conversations-instructions-item-created-at {
    text-align: end;
    font-style: italic;
    font-size: 12px;
    color: var(--color-text-secondary);
}
/************************************************************************/
/* End of base styles for Conversations Tool                            */
/************************************************************************/


/************************************************************************/
/* Starting styles for system layout                                    */
/************************************************************************/
.conversations-tool-root {
    height: 100%;
    display: flex;
    flex-direction: row;
    background: var(--color-background);
}

.conversations-layout-left {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    border-right: 1px solid var(--color-border-light);
    min-width: 0;
    min-height: 0;
}

.conversations-layout-right {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1;
}

.conversations-layout-group-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    /* Don't grow, don't shrink, auto height - for group selection */
    min-height: 0;
    overflow: visible;
}

.conversations-layout-content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* Take remaining space */
    min-height: 0;
    overflow: hidden;
}
/************************************************************************/
/* End of system layout styles                                          */
/************************************************************************/


/************************************************************************/
/* Utils default styles for Conversations Tool, used in utils.js        */
/************************************************************************/
.conversations-instruction-field-readonly {
    padding: 10px 12px;
    border: 1px solid var(--color-border-light);
    border-radius: 4px;
    background-color: var(--color-disabled);
    color: var(--color-text-dark);
    font-size: 16px;
    outline: none;
    transition: border-color 0.2s ease;
    width: 100%;
    white-space: pre-wrap;
}

.conversations-instruction-field-label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 12px;
}

.conversations-instruction-field-input {
    border: 1px solid var(--color-overlay-border);
    border-radius: 6px;
    background: var(--color-background);
    color: var(--color-text);
    font-size: 16px;
    font-family: inherit;
    padding: 8px 12px;
}

.conversations-instruction-field-input:focus {
    outline: none;
    border: 1px solid var(--color-border-light);
}

.conversations-scrollable-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

.conversations-json-div {
    background: var(--color-background-main);
    border-radius: 6px;
    padding: 14px 12px;
    font-size: 16px;
    line-height: 1.5;
    overflow: auto;
    width: 100%;
}
/************************************************************************/
/* End of utils default styles for Conversations Tool, used in utils.js */
/************************************************************************/


/************************************************************************/
/* Starting styles for Conversations Tool Cards                         */
/************************************************************************/
.conversations-card-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.conversations-list-card-icon {
    width: 56px;
    height: 56px;
    font-size: 28px;
    border-radius: 8px;
    background: var(--color-background-main);
    display: flex;
    align-items: center;
    justify-content: center;
}

.conversations-card-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.conversations-card-name {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: var(--color-text-primary);
}

.conversations-card-description {
    font-size: 13px;
    color: var(--color-text-secondary);
    margin-top: 4px;
}
/************************************************************************/
/* End of Conversations Tool Cards styles                               */
/************************************************************************/


/************************************************************************/
/* Starting styles for Menu Component                                   */
/************************************************************************/
.conversations-menu-selection-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    border-bottom: 1px solid var(--color-border-light);
    padding-bottom: 16px;
}

.conversations-menu-manage-header {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding: 18px 18px 8px 18px;
    align-items: center;
}

.conversations-menu-selection-header {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-text-primary);
}

.conversations-menu-selection-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin: 0 18px 10px 18px;
}

.conversations-menu-list-items {
    flex: 1;
    overflow-y: auto;
}
/************************************************************************/
/* End of Menu Selection Component styles                               */
/************************************************************************/


/************************************************************************/
/* PageComponent styles                                                 */
/************************************************************************/
.conversations-page-wrapper {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1;
    padding: 16px;
    gap: 16px;
}

.conversations-page-header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 96px;
}

.conversations-page-control-area {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.conversations-page-buttons-area {
    display: flex;
    gap: 16px;
}

.conversations-page-content-area {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

.conversation-page-header-title-box {
    display: flex;
    align-items: 'flex-start';
    gap: 16px;
}

.conversations-page-title-emoji {
    display: flex;
    font-size: 48px;
    border-radius: 50%;
    background: var(--color-overlay-border);
}

.conversations-page-title-info {
    /* width: 200px; */
    display: flex;
    flex-direction: column;
}

.conversations-page-title-info-title {
    font-size: 18px;
    font-weight: bold;
}

.conversations-page-title-info-subtitle {
    font-size: 14px;
    color: var(--color-text-secondary);
    margin-top: 4px;
}

.conversations-page-title-info-subtitle-meta {
    margin-right: 8px;
}

.conversations-page-title-info-subtitle-meta-bold {
    margin-right: 8px;
    font-weight: 600;
}
/************************************************************************/
/* End of PageComponent styles                                          */
/************************************************************************/


/************************************************************************/
/* Badge styles                                                         */
/************************************************************************/
.conversations-badge-generic {
    text-align: center;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 4px;
    background: var(--color-secondary-accent);
    color: var(--color-text-light);
    font-weight: 700;
}

.conversations-badge-state-running {
    text-align: center;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 4px;
    background: var(--color-state-running);
    color: var(--color-text-light);
    font-weight: 700;
}

.conversations-badge-state-pending {
    text-align: center;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 4px;
    background: var(--color-state-pending);
    color: var(--color-text-light);
    font-weight: 700;
}

.conversations-badge-state-completed {
    text-align: center;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 4px;
    background: var(--color-state-completed);
    color: var(--color-text-light);
    font-weight: 700;
}
.conversations-badge-state-failed {
    text-align: center;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 4px;
    background: var(--color-state-failed);
    color: var(--color-text-light);
    font-weight: 700;
}
/************************************************************************/
/* End of badge styles                                                  */
/************************************************************************/
